In [1]:
import datetime
import time
import master

import sys, os
sys.path.append(os.path.join(os.path.dirname('.'), '..', 'lib'))
sys.path.insert(0, '/Users/chris/programming/interactivebrokers')
import ibapi

from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [2]:
PORT = 7497 # 7497 is paper trading account; 7496 is actual IB trading accoubt

# After execution, TWS will prompt you to accept the connection
# The ERROR simply confirms that there is a connection to the market data.
app = master.Master(port=PORT)

In [3]:
# See the account value
app.get_total_account_value()

ERROR -1 2104 Market data farm connection is OK:usfuture.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfuture
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

serverVersion:155 connectionTime:b'20200331 02:10:27 EST'
MarketDataApp connecting to IB...
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
MarketDataApp connected.

999861.8

In [4]:
# Get the current positions
df, contracts = app.get_positions()
df

,account,cost,localSymbol,multiplier,secType,size,symbol,totCost
localSymbol,,,,,,,,
ESM0,DU1964760,130202.1,ESM0,50,FUT,2.0,ES,260404.2

In [5]:
# Get other account details
app.get_account_details().head()

     account currency  reqId               tag      value
0  DU1964760     BASE      2          Currency       BASE
1  DU1964760     BASE      2       CashBalance  999795.80
2  DU1964760     BASE      2  TotalCashBalance  999795.80
3  DU1964760     BASE      2       AccruedCash      66.00
4  DU1964760     BASE      2  StockMarketValue       0.00

In [6]:
# Get some cached contracts
spx_contract = app.get_contract('SPX')
ewj_contract = app.get_contract('EWJ')

contractList = [spx_contract, ewj_contract]
contractList

ERROR -1 2104 Market data farm connection is OK:usfuture.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfuture
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

serverVersion:155 connectionTime:b'20200331 02:10:32 EST'
MarketDataApp connecting to IB...
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
MarketDataApp connected.

[112037427464: 416904,SPX,IND,,0.0,,,CBOE,,USD,SPX,,False,,combo:,
 112037426568: 253190534,EWJ,STK,,0.0,,,SMART,ARCA,USD,EWJ,EWJ,False,,combo:]

In [7]:
# Find a matching contract using the modules matching rules
_contract = ibapi.contract.Contract()
_contract.symbol = 'IBM'
_contract.secType = 'STK'
_contract.currency = 'USD'
app.match_contract(_contract)

112037449912: 8314,IBM,STK,,0.0,,,SMART,NYSE,USD,IBM,IBM,False,,combo:

In [8]:
# WARNING: there might be a small charge for requesting market 
#    data snapshots, depending on your market data subscriptions.
#
# Get market data snapshots for a set of contracts
#  (This is slow and takes about 11 seconds)
snapshots = app.get_market_data_snapshots(contractList)
snapshots

ERROR -1 2104 Market data farm connection is OK:usfuture.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfuture
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

serverVersion:155 connectionTime:b'20200331 01:33:14 EST'
MarketDataApp connecting to IB...
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
MarketDataApp connected.

[{'localSymbol': 'SPX',
  'BID': -1.0,
  'BID_SIZE': 0,
  'ASK': -1.0,
  'ASK_SIZE': 0,
  'CLOSE': 2626.65},
 {'localSymbol': 'EWJ',
  'CLOSE': 50.79,
  'BID': -1.0,
  'BID_SIZE': 0,
  'ASK': -1.0,
  'ASK_SIZE': 0}]

In [8]:
# Request time series data using a 'duration' argument
# Using end = "" tells TWS to get data up until current time
frequency = '1d'
duration = '3d'
ts_data = app.get_historical_data(contractList, frequency=frequency, 
                                        use_rth=True, data_type="TRADES",
                                        start="", end="", duration=duration)
ts_data['EWJ']

ERROR -1 2104 Market data farm connection is OK:usfuture.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfuture
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

serverVersion:155 connectionTime:b'20200331 02:10:39 EST'
MarketDataApp connecting to IB...
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
MarketDataApp connected.
WARNING: this request may be invalid. Need to add tests that duration is valid.
WARNING: this request may be invalid. Need to add tests that duration is valid.

          average  barCount  close   high    low   open  volume
date
20200326  49.8250     71967  50.24  50.30  48.99  49.02  135768
20200327  50.3230     56449  50.18  50.82  49.76  50.03  111759
20200330  50.5175     35083  50.79  50.85  50.03  50.25   66187

In [18]:
# Request time series data using a start/end date.
# Using duration = '' tells TWS to ignore the duration argument.
# Using end = "" tells TWS to get data up until current time.
# TWS will assume dates correspond to the 'TWS Timezone', which is the
#    timezone that you select when you log into TWS.
ticker = 'GOOG'
frequency = '1h'
start = '20200324 9:30:00'
end = '20200325 16:30:00'
duration = ''

_contract = app.get_contract(ticker)
contractList = [_contract]
ts_data = app.get_historical_data(contractList, frequency=frequency, 
                                        use_rth=False, data_type="TRADES",
                                        start=start, end=end, duration=duration)

# The output is a dictionary with localSymbols as keys
ts_data[_contract.localSymbol].head()

[datetime.timedelta(days=1, seconds=25200), {'n': 1.0, 'units': 'hours'}, datetime.timedelta(days=30, seconds=37728)]

,average,barCount,close,high,low,open,volume
date,,,,,,,
20200225 04:00:00,1430.000,2,1430.00,1430.00,1430.00,1430.00,2
20200225 05:00:00,1422.194,3,1422.00,1422.63,1422.00,1422.63,3
20200225 06:00:00,1422.000,0,1422.00,1422.00,1422.00,1422.00,0
20200225 07:00:00,1431.726,19,1436.59,1436.59,1428.81,1431.99,26
20200225 08:00:00,1434.544,16,1435.82,1436.00,1432.00,1432.00,16

In [11]:
app.get_contract("AAPL").__dict__

{'conId': 265598,
 'symbol': 'AAPL',
 'secType': 'STK',
 'lastTradeDateOrContractMonth': '',
 'strike': 0.0,
 'right': '',
 'multiplier': '',
 'exchange': 'SMART',
 'primaryExchange': 'NASDAQ',
 'currency': 'USD',
 'localSymbol': 'AAPL',
 'tradingClass': 'NMS',
 'includeExpired': False,
 'secIdType': '',
 'secId': '',
 'comboLegsDescrip': '',
 'comboLegs': None,
 'deltaNeutralContract': None}

In [5]:
_contract = app.get_contract('ESM0')
bracket_order = {
    'contract': _contract,
    'action': "BUY",
    'price': 2620.,
    'quantity': 1,
    'outside_rth': False,
    'tif': "DAY",
    'profit_price': 2625,
    'stop_price': 2615
}

req_orders = [bracket_order]
orders = app.create_bracket_orders(req_orders, transmit=False)
app.place_all_orders()

ERROR -1 2104 Market data farm connection is OK:usfuture.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfuture
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds.nj
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefnj

serverVersion:155 connectionTime:b'20200331 03:42:41 EST'
MarketDataApp connecting to IB...
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
ERROR: request -1
MarketDataApp connected.

In [7]:
app.get_saved_orders()

{}

In [8]:
app.get_open_orders()

[]